
<input type="text" [(ngModel)]="term" (keyup)="filter()">

<label for="">Column:</label>
<select name="" id="" [(ngModel)]="column">
    <option>color</option>
    <option>type</option>
</select>

<label for="">order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Asceding</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">sort</button>

<table>
    <thead>
        <tr>
            <th>vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="" width="100px" height="100px">
            </td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="view(vehicle.id)">view</button>
                <button (click)="edit(vehicle.id)">edit</button>
                <button (click)="delete(vehicle.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>