<p>employees works!</p>

<input type="text" [(ngModel)]="term" (keyup)="filter()">
<button (click)="experinceLH()">experience low to high</button>
<button (click)="bonus()">apply 30000 bonus</button>
<button (click)="cost()">cost to company</button>

<table>
    <thead>
        <tr>
            <th>sno</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            #--------------------------
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>
                <!-- {{employee.experience}} -->
                <app-rating [rating]="employee.experience"></app-rating>
            </td>
            <td>{{employee.package | price }}</td>
            <td>{{employee.role}}</td>
            <td>
                <button (click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>